<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Omac</title>
</head>
<body>
    <header style="width:100%; text-align:center">
        <h3>One Million Arab Coders</h3>
        <div style="float:right; border:solid 1px #000; padding:5px; margin-right:50px">Create new</div>
    </header>
    <div>
        <table>
            <thead style="font-weight:bold">
                <td style="width : 700px">Title</td> <!--> <td style="width : 20px">Edit</td> <!--> <td style="width : 20px">Delete</td>
            </thead>
            <tr>
                <td style="width : 700px">post 1</td> <!--> <td style="width : 20px"><a href="#">edit</a></td> <!--> <td style="width : 20px"><a href="#">del</a></td>
            </tr>
            <tr>
                <td style="width : 700px">post 2</td> <!--> <td style="width : 20px"><a href="#">edit</a></td> <!--> <td style="width : 20px"><a href="#">del</a></td>
            </tr>
            <tr>
                <td style="width : 700px">post 3</td> <!--> <td style="width : 20px"><a href="#">edit</a></td> <!--> <td style="width : 20px"><a href="#">del</a></td>
            </tr>
        </table>
    </div>

</body>
</html>
